<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Evolución Ventamovil</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="static/css/normalize.min.css">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/jquery-ui.min.css">
		<link rel="stylesheet" href="static/css/main.css">
		<script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
	<div id="wrap">
		
			
		<div id='logo' class="container">
			<div class="row">
				<div id="contLogo"  class="col-md-4 col-md-offset-4">
					<img src="static/img/LOGO.png" alt="">
				</div>
			</div>		
		</div>

		<div id="mainMenu" class="container">
			<div class="row">
				<div  class="col-md-4 col-md-offset-4">
					<ul id="MenuMaster" class="actionbtns">
						<li class="active" data-Menu="sale" ><a href="#" >TAE</a></li>
						<li data-Menu="services" ><a href="#" >SERVICIOS</a></li>
						<li data-Menu="insurance" ><a href="#" >SEGUROS</a></li>
						<li data-Menu="reports" ><a href="#">REPORTE</a></li>
					</ul>
				</div>
			 </div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="alert fade in" id="id_message" style="display: none;">
						<strong></strong>
					</div>
				</div>
			</div>
				
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div style="text-align:center;" class="balance">
						<strong id="balanceText"> </strong>
					</div>	
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div id="contSections" class="col-md-4 col-md-offset-4">
					<!-- SECCION VENTA TAE -->
					<section id="SecSale" style="display:none;">
						<form>
							
							<div class="form-group">
								<select class="form-control" id="code-sale">
								</select>
							</div>
							<div class="form-group">
								<select class="form-control" name="amount-sale" id="amount-sale">
									<option value="">Monto</option>
								</select>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="phone-number-sale" placeholder="Teléfono" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="re-phone-number-sale" placeholder="Confirmación" />
							</div>
							<div class="form-group three-buttons">
								<ul class="actionbtns2">
									<li id="pay-sale"><a href="">Pagar</a></li>
									<li><a href="">Limpiar</a></li>
									<li><a href="">Imp. Recibo</a></li>
								</ul>								
							</div>
						</form>
					</section>
					<!-- SECCION PAGO DE SERVICIOS -->
					<section id="SecServices" style="display:none;">
						<form>
							<div class="form-group">
								<select class="form-control" id="code-services">
									<option value="">Servicio...</option>
									{% for obj in obj_service_carriers %}
										<option value="{{obj.code}}">{{obj.name}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="reference-services" placeholder="Referencia" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="amount-services" placeholder="Monto" />
							</div>
							<ul class="actionbtns2">
								<li id="pay-services" ><a href="#">Pagar</a></li>
								<li><a href="">Limpiar</a></li>
								<li><a href="">Imp. Recibo</a></li>
							</ul>
						</form>
					</section>
					<!-- SECCION VENTA DE SEGUROS -->
					<section id="SecInsurance" style="display:none;">
						<form>
							<div id="two-columns">
								<div>
									<div class="form-group">
										<input type="text" id="client-name-insurance" class="form-control" placeholder="Nombre Asegurado" />
									</div>
									<div class="form-group">
										<input type="text" id="licence-insurance" class="form-control" placeholder="Licencia" />
									</div>
									<div class="form-group">
										<select class="form-control" id="year-insurance" id="code-sale">
											<option value="">Año...</option>
										</select>
									</div>	
									<div class="form-group">
										<input type="text" id="plate-insurance" class="form-control" placeholder="Placas" />
									</div>
									<div class="form-group">
										<select class="form-control" id="days-insurance" id="days-insurance">
											<option value="">Días...</option>
										</select>
									</div>
								</div>
								<div>
									<div class="form-group">
										<input type="text" id="phone-insurance" class="form-control" placeholder="Telefono"/>
									</div>
									<div class="form-group">
										<input type="text" id="email-insurance" class="form-control" placeholder="Email"/>
									</div>
									<div class="form-group">
										<select class="form-control" name="brand-insurance" id="brands-insurance">
											<option value="">Marca...</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" id="serial-number-insurance" class="form-control" placeholder="Numero de Serie" />
									</div>	
									<div class="form-group">
										<input type="datetime" id="efective-date-insurance" class="form-control datetime" placeholder="Fecha Efectiva" />
									</div>
								</div>
							</div>

							<div class="form-group form-control">
								<p id="expiration_date">Fecha Expiracion: xx/xx/xxxx</p>
							</div>
							<div class="form-group only-balance form-control">
								<p id="total-insurance">$ 0.00</p>
							</div>
							<ul class="actionbtns2">
								<li id="pay-insurance"><a href="">Pagar</a></li>
								<li><a href="">Limpiar</a></li>
								<li><a href="">Imp. Recibo</a></li>
							</ul>
						</form>
					</section>
					<!-- SECCION REPORTES VENTA -->
					<section id="SecReports" style="display:none;">
						<form>
							<div class="form-group" id="three-elements">
								<p>VENTA</p>
								<input type="text" class="form-control date" placeholder="Seleccione la fecha" id="date-sales-rep"/>
								<button id="get-sales-rep">
									Mostrar	
								</button>
							</div>
						</form>
						<div class="form-group balance form-control">
							<p>TOTAL:</p><p id="total-reports">$ 0.00</p>
						</div>
						<table class="table" id="table-reports">
							<thead>
								<tr>
									<th>TELEFONO</th>
									<th>FOLIO</th>
									<th>MONTO</th>
									<th>OPERADORA</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>
		
	</div> 	<!-- Wrapper -->

	<div id="footer">
		<div class="container">
			
		</div>
	</div>


		<!-- Templates -->
		<script id="tpl_tr" type="text/template">
			<tr>
				<td><%=number%></td>
				<td><%=folio%></td>
				<td><%=amount%></td>
				<td><%=carrier%></td>
			</tr>
		</script>

		<script id="tpl_opt_brands" type="text/template">
			<option value="<%=value%>"><%=text%></option>
		</script>

		<script id="tpl_opt_prices" type="text/template">
			<option value="<%=value%>" price="<%=price%>"><%=text%></option>
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		
		
		<script src="static/js/vendor/bootstrap.min.js"></script>
		<script src="static/js/vendor/jquery-ui.min.js"></script>
		<script src="static/js/vendor/underscore-min.js"></script>
		<script src="static/js/vendor/backbone-min.js"></script>
		<script src="static/js/main.js"></script>
		<script src="static/js/plugins.js"></script>
		<!--  Backbone  -->
		<script src="static/js/app/init.js"></script>
		<script src="static/js/app/main.evolution.js"></script>
		<!--  Backbone Models -->
		<!--  Backbone Collections -->
		<!--  Backbone Views -->
		<script src="static/js/app/apps/backbone/views/mainMenu.js"></script>
		<script src="static/js/app/apps/backbone/views/Sales.js"></script>
		<script src="static/js/app/apps/backbone/views/SalesReport.js"></script>
		<script src="static/js/app/apps/backbone/views/Services.js"></script>
		<script src="static/js/app/apps/backbone/views/Insurance.js"></script>
		<!--  Backbone Routers -->
		<script src="static/js/app/apps/backbone/routers/mainRouters.js"></script>
	</body>
</html>