html,body{height:100%;font-size:16px}
body{background:url("../img/p5.png") repeat}
section{margin-bottom:10px}
#wrap{height:auto;margin:0 auto -60px;min-height:100%;padding:0 0 60px}
#logo .col-md-4{text-align:center;}
#logo .col-md-4 img{width:60%;height:initial}
div.three-buttons input{border:none;display:inline-block;font-weight:bold;margin-left:2px;width:32%}
div.two-buttons input{border:none;color:#fff;display:inline-block;font-weight:bold;margin-left:3px;padding-bottom:5px;padding-top:5px;width:48%}
#footer{color:#fff;font-family:'Questrial' sans-serif;font-size:2.5em;padding:5px 0;text-align:center;background-color:#239cd3}
#login p{color:#fff;font-family:'Questrial' sans-serif;font-size:26px;padding:5px;text-align:center}
.table{font-size:11px}
th{font-weight:bold;color:#fff;background-color:#000}
.balance{display:block;height:auto;margin:0;margin-bottom:10px;padding-bottom:0;padding-top:0;font-size:2.5em}
.balance > p{display:inline-block;padding:0;margin:0;vertical-align:top}
.balance > pfirst-child{width:25%;text-align:right;font-size:1em;padding-top:7%;padding-right:15px;font-weight:bold}
.balance > plast-child{text-align:left;font-size:3.5em;width:74%;font-weight:bold}
#two-columns > div{width:49%;display:inline-block}
.hide{display:none}
.only-balance{display:block;height:auto;margin:0;border:1px solid #ccc;border-radius:4px;margin-bottom:10px;padding-bottom:0;padding-top:0}
.only-balance > p{display:inline-block;padding:0;margin:0;vertical-align:top}
.only-balance > p{text-align:center;font-size:3.5em;width:100%;font-weight:bold}
.three-buttons > input{padding-top:10px;padding-bottom:10px}
.actionbtns2,.actionbtns{align-content:center;display:flex;font-size:0;justify-content:space-between;margin:0;padding:0;text-align:center;}
.actionbtns2 li,.actionbtns li{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border-bottom:3px solid #008fd5;border-right:1px solid #239cd3;border-top:1px solid #239cd3;box-sizing:border-box;color:#5d656a;cursor:pointer;display:inline-block;flex:1 auto;font-size:14px;font-weight:normal;height:38px;line-height:38px;padding:0 2%;text-align:center;text-transform:uppercase;zoom:1;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;}
.actionbtns2 li:first-child,.actionbtns li:first-child{border-left:1px solid #239cd3}
.actionbtns2 li.active,.actionbtns li.active{background-color:#008fd5;border-left:1px solid #239cd3;border-right:1px solid #239cd3}
.actionbtns2 li.active a,.actionbtns li.active a{color:#fafafa !important;font-weight:bold}
.actionbtns2 li a,.actionbtns li a{color:#5d656a;text-decoration:none}
.actionbtns2 li{padding:0 5% !important}
button{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;border:1px solid #239cd3;border-bottom:3px solid #008fd5;box-sizing:border-box;color:#5d656a;cursor:pointer;display:inline-block;flex:1 auto;font-size:14px;font-weight:normal;height:38px;line-height:38px;margin-top:3px;padding:0 2%;text-align:center;text-transform:uppercase;zoom:1;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;}
button:first-child{border-left:1px solid #239cd3}
button.active{background-color:#008fd5;border-left:1px solid #239cd3;border-right:1px solid #239cd3;color:#fafafa !important;font-weight:bold}
a,input,button{-ms-touch-action:none !important}
@media (min-width: 1200px){}@media (min-width: 768px) and (max-width: 979px){}@media (max-width: 767px){}@media (max-width: 480px){.balance{font-size:1.8em}
#footer{font-size:1.8em}
}